@font-face {
  font-family: 'Arial Black';
  src: url('../../assets/Arial Black (1).ttf') format('truetype'),
      
  /* Adicione outros formatos de fonte, se necessário */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
body {
  margin: 0;
  padding: 0 !important;

  background-color: rgb(184, 18, 170);
  overflow-y: scroll;
  overflow-x: hidden;
  height: 200vh;
  width: 100%;
}

a {
  text-decoration: none !important;
  font-weight: 900;
  color: #fff !important;
}


body::-webkit-scrollbar {
  width: 5px !important;
}

body::-webkit-scrollbar-track {
  background: #5a5a5a;
}

body::-webkit-scrollbar-thumb {
  background: #ffffff;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}






/*effects*/




/*effects*/
